# Xcode
build/
DerivedData/
*.xcodeproj/
!project.yml
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# CocoaPods (unused but ignored just in case)
Pods/

# macOS
.DS_Store

# Misc
*.log
*.moved-aside
